<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
 
        <div class="container ">
            <div class="card ">
              {% csrf_token %} 
      
              <h4>You'r successfully login</h4>
             
              <h4>Thanks for login</h4>
              <button><a href="{% url 'perform_logout' %}">logout</a>
              </button>
            </div>
          </div>
 

   
  </body>
</html>
